body{
    background-color: rgb(129, 129, 129);
    
 }
 h3 {
     color: white;
 }
 .titulo {
     text-align: center;
     border-style: double;
     border-width: 10%;
     border-color: rgb(211, 20, 20);
  
 }
 
 #breaking
 {
     width: 50%;
    margin-left: 20%;
    border-style: double;
    border-width: 75%;
    border-color: black;
 }
 
 #dexter {
     width: 50%;
     margin-left: 20%;
     border-style: double;
     border-width: 10%;
     border-color: black;
 }
 
 
 
   h1{
     text-align: center;
     color: rgb(255, 255, 255);
 
   }
 
   .fil{
     text-align: center;
     border-style: double;
     border-width: 10%;
     border-color: rgb(211, 20, 20);
  
   }
       #elc {
         width: 50%;
         margin-left: 20%;
   border-style: double;
   border-width: 10%;
   border-color: black;
 
       }
       h1{
       color: rgb(0, 0, 0)
       }
     
 


  
